{{>head}}
{{>adminNav}}

<section class="vh-100">
  <div class="container py-5 h-75">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-6 col-lg-6 col-xl-6 offset-xl-1">

        <form onsubmit="signupValidate()" action="/admin/users/edit" method="post">
          <h1 class="pb-3 font-weight-bold">Update User</h1>

          <div class="form-outline mb-4">
            <div class="error" id="nameErr"></div>
            <input type="text" id="name" value="{{user.name}}" name="name"
              class="form-control form-control-lg border-dark" placeholder={{user.name}} />
          </div>


          <!-- Mobile input -->
          <div class="form-outline mb-4">
            <div class="error" id="mobileErr"></div>
            <input type="mobile" id="mobile" value="{{user.mobile}}" maxlength="10" name="mobile"
              class="form-control form-control-lg border-dark" placeholder="{{user.mobile}}" />
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <div class="error" id="emailErr"></div>
            <input type="email" id="email" value="{{user.email}}" name="email"
              class="form-control form-control-lg border-dark" placeholder="{{user.email}}" />
          </div>


          <div class="d-flex justify-content-around align-items-center mb-3">
            <h6>Want to go back<a href="/admin/users"> click here</a></h6>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block w-100 border-dark">Update User</button>

        </form>
      </div>
    </div>
  </div>
</section>

{{>foot}}