{{>adminNav}}

<section class="h-100 h-custom" style="background-color: #ffff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 border-0 mt-5">
                <div class="card card-registration card-registration-2 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="mb-0 text-black">Banners</h1>
                                        <h5 class="text-success text-center " id="message">{{message}}</h5>

                                        <h6 class="mb-0 text-muted">{{banner.length}} banners </h6>
                                    </div>

                                    <div
                                        class="row mb-4 d-flex justify-content-between align-items-center table-responsive">
                                        <table id="myTable" class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Sl No</th>
                                                    <th>Banner Img</th>
                                                    <th>Main Title</th>
                                                    <th>Subtitle</th>
                                                    <th>Description</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {{#each banner}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td><img src=" /images/{{image}}" class="img-fluid"
                                                            style="max-width:6rem;height:auto"></td>
                                                    <td>{{title}}</td>
                                                    <td>{{subTitle}}</td>
                                                    <td
                                                        style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                        {{description}}</td>

                                                    {{!-- <td>{{formatDate expiryDate}}</td> --}}
                                                    {{#ifeq status "Active"}}
                                                    <td class="text-success">{{status}}</td>
                                                    {{else}}
                                                    <td class="text-danger">{{status}}</td>
                                                    {{/ifeq}}
                                                    <td class="">
                                                        <a href="/admin/banner/edit?id={{_id}}"
                                                            class="btn btn-success mb-1">Edit</a>
                                                        {{#ifeq status "Active"}}
                                                        <form action="/admin/banner/disable?id={{_id}}" method="post">
                                                            <a><button type="submit"
                                                                    class="btn btn-danger">Disable</button></a>
                                                        </form>
                                                        {{/ifeq}}
                                                        {{#ifeq status "Disabled"}}
                                                        <form action="/admin/banner/enable?id={{_id}}" method="post">
                                                            <button type="submit"
                                                                class="btn btn-primary">Enable</button>
                                                        </form>
                                                        {{/ifeq}}
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>

                                    <hr class="my-4">


                                    <!-- <div class="pt-5">
                      <h6 class="mb-0"><a href="/user_home" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h1 class="mb-5 mt-2 pt-1">Add banner</h1>


                                    <div class="mb-3">
                                        <div class="form-outline">
                                            {{#if bannerEdit}}

                                            <form action="/admin/banner/update?id={{bannerEdit._id}}"
                                                enctype="multipart/form-data" method="post">


                                                <input name="title" style="border: 1px solid black"
                                                    value="{{bannerEdit.title}}" placeholder="title" type="text"
                                                    id="form3Examplea2" class="form-control form-control-lg "
                                                    required />

                                                <input name="subtitle" style="border: 1px solid black"
                                                    value="{{bannerEdit.subTitle}}" placeholder="subtitle" type="text"
                                                    id="form3Examplea2"
                                                    class="form-control form-control-lg mt-3 border-dark" required />

                                                <textarea name="description" rows="2" style="border: 1px solid black"
                                                    type="text" value="{{bannerEdit.description}}" placeholder=""
                                                    id="form3Examplea2"
                                                    class="form-control form-control-lg mt-3 border-dark"
                                                    required>{{bannerEdit.description}}</textarea>

                                                <input name="redirect" style="border: 1px solid black"
                                                    value="{{bannerEdit.redirect}}" placeholder="redirect link"
                                                    type="text" id="form3Examplea2"
                                                    class="form-control form-control-lg mt-3 mb-2 border-dark"
                                                    required />

                                                <label class="img">{{bannerEdit.image}}</label>
                                                <input name="image" style="border: 1px solid black" value="" type="file"
                                                    id="form3Examplea2"
                                                    class="form-control form-control-lg border-dark mb-3"
                                                    accept="image/*" />




                                                <button type="submit"
                                                    class="btn btn-warning btn-lg btn-block w-100 border-dark">Update</button>
                                        </div>
                                        </form>
                                        {{else}}
                                        <form action="/admin/banners/add" method="post" enctype="multipart/form-data">
                                            <input name="title" style="border: 1px solid black"
                                                placeholder="banner title" type="text" id="form3Examplea2"
                                                class="form-control form-control-lg " />

                                            <input name="subtitle" style="border: 1px solid black"
                                                placeholder="subtitle" type="text" id="form3Examplea2"
                                                class="form-control form-control-lg mt-3 border-dark" />

                                            <textarea name="description" rows="2" style="border: 1px solid black"
                                                type="text" placeholder="descryption" id="form3Examplea2"
                                                class="form-control form-control-lg mt-3 border-dark"></textarea>

                                            <input name="redirect" style="border: 1px solid black"
                                                placeholder="Redirect Link" type="text" id="form3Examplea2"
                                                class="form-control form-control-lg mt-3 border-dark" />

                                            <input name="image" style="border: 1px solid black" placeholder=""
                                                type="file" id="form3Examplea2"
                                                class="form-control form-control-lg mt-3 mb-2 border-dark"
                                                accept="image/*" />


                                            <h5 class="text-danger text-center ">{{errMessage}}</h5>

                                            <div class="form-outline " style="text-align: center">
                                                <h5 class="text-danger text-center ">{{errorMessage}}</h5>
                                                <button type="submit"
                                                    class="btn btn-info btn-lg btn-block w-100 border-dark">Add+</button>
                                            </div>

                                        </form>
                                        {{/if}}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h3 class="mb-0 text-black text-center">Banners Display</h3>
        <div class="row">
            {{#each banner}}

            <div class="mt-4" style="background-color:#FBDDAB;border-radius:20px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box" style="padding:10rem 0 1rem 7rem">
                                <h1 style="font-weight:800">
                                    <span style="font-weight: 300;">
                                        {{title}}
                                    </span>
                                    <br>
                                    {{subTitle}}
                                </h1>
                                <p class="carousel-p">
                                    {{description}}
                                </p>
                                <a href="/{{redirect}}" style="display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;">
                                    Discover
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 ">
                            <div class="img-box p-5 overflow-hidden">
                                <img src="/images/{{image}}" class="img-fluid"
                                    style="max-width: 100%; max-height: 100%; object-fit: cover;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>


    </div>
    </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "pageLength": 5
        });
    });
</script>
<script>
    window.onload = function () {
        const msg = document.getElementById("message");
        if (msg.innerHTML !== "") {
            setTimeout(function () {
                msg.style.display = "none";
            }, 2000); // 3000 milliseconds = 3 seconds
        }
    };
</script>
{{>foot}}