{{>head}}
{{#if userData}}
{{>userNavLogged}}
{{else}}
{{>userNav}}
{{/if}}

<link rel="stylesheet" href="/style.css">
<section class="h-100 h-custom" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px; border: 1px solid black;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>

                    <h6 class="mb-0 text-muted">{{cart.length}} items</h6>
                  </div>
                  <hr class="my-4">
                  {{#if cart}}




                  {{#each cart}}

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="/images/{{img1}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{category}}</h6>
                      <a href="/productView?name={{productName}} " style="text-decoration: none">
                        <h6 class="text-black mb-0">{{productName}}</h6>
                      </a>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <input type="hidden" id="priceText{{_id}}" value="{{price}}">
                      <button class="btn btn-link px-2"
                        onclick="stepondown(this, '{{_id}}', '{{price}}','{{cartBill}}')">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input id="form{{_id}}" min="1" max="8" name="quantity" value="{{quantity}}" type="text"
                        class="form-control form-control-sm" />
                      <button class="btn btn-link px-2" onclick="steponup(this, '{{_id}}', '{{price}}','{{cartBill}}')">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>


                    <script>

                      function steponup(element, data, price, cartBill) {
                        document.getElementById("limitMessage" + data).innerHTML = ""
                        const x = element.previousElementSibling.value;
                        if (x < 8) {
                          document.getElementById("form" + data).setAttribute("value", parseInt(x) + 1);
                          document.getElementById("bill" + data).innerHTML = "₹ " + ((parseInt(x) + 1) * price);
                          //document.getElementById("4plus"+data).value=bill
                           document.getElementById("totalBill").innerHTML= "₹ " + ((parseInt(x) + 1) * price);
                          document.getElementById("totalBills").innerHTML= "₹ " + ((parseInt(x) + 1) * price);
                          const id = data;
                          console.log("im in steponup")
                          fetch("/addToCart/operation", {
                            method: "POST",
                            headers: {
                              "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                              add: "add",
                              price: price,
                              id: id
                            })
                          })
                            .then(response => {
                              return response.json();
                            })
                            .then(data => {
                              console.log("this add data"+data)
                            })
                            .catch(error => {
                              console.log(error);
                            });
                        } else {
                          document.getElementById("limitMessage" + data).innerHTML = "You can't add more than 8 items"
                        }
                      }

                      function stepondown(element, data, price, cartBill) {
                        document.getElementById("limitMessage" + data).innerHTML = ""
                        const x = element.nextElementSibling.value;
                        if (x > 0) {
                          element.nextElementSibling.value = parseInt(x) - 1;
                          const bill = document.getElementById("bill" + data).innerHTML = "₹ " + ((parseInt(x) - 1) * price);
                          //document.getElementById("4minus"+data).value=bill
                           document.getElementById("totalBill").innerHTML= "₹ " + ((parseInt(x) - 1) * price);
                          document.getElementById("totalBills").innerHTML= "₹ " + ((parseInt(x) - 1) * price); 


                          const id = data;
                          console.log("im in stepondqown")
                          fetch("/addToCart/operation", {
                            method: "POST",
                            headers: {
                              "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                              sub: "sub",
                              price: price,
                              id: id
                            })
                          })
                            .then(response => {
                              return response.json();
                            })
                            .then(data => {
                              console.log("the data is" + data)

                            })
                            .catch(error => {
                              console.log(error);
                            });
                        } else {
                          document.getElementById("limitMessage" + data).innerHTML = "You can't add less than 0 items"
                        }
                      }






                      /*
                       function validateData(id) {
                              const element = document.getElementById(id)
                              const priceText = document.getElementById('priceText' + id)     //price of single item
                              const price = document.getElementById('bill' + id)     //bill of single item
                              const total = document.getElementById('final')   //total price
                              const final = document.getElementById("totalBill")  //final price
                      
                              console.log("element.value"+element.value)
                              console.log("priceText.innerHTML"+priceText)
                              console.log("price.value"+price.value)
                              console.log("total.innerHTML"+total.innerHTML)
                              console.log("final.innerHTML"+final.innerHTML)
                      
                      
                              const rate = priceText.innerHTML
                              priceText.innerHTML = Number(price.innerHTML) * Number(element.value)
                              const diff = Number(priceText.innerHTML) - Number(rate)
                      
                              total.innerHTML = Number(diff) + Number(total.innerHTML)
                              final.innerHTML = Number(total.innerHTML)
                          }
                      
                      */



                    </script>

                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h3 id="final" class="fw-normal"></h3>
                      <h6 class="mb-0 itemPrice" id="bill{{_id}}" value="">₹ {{bill}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <form action="/deleteFromCart?id={{_id}}" method="post">
                        <button type="submit" class="text-muted"
                          style="cursor: pointer; background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"><i
                            class="fas fa-times"></i></button>

                      </form>
                    </div>
                    <h8 id="limitMessage{{_id}}" class="ps-5 text-center text-danger"></h8>
                  </div>
                  <hr class="my-4">

                  {{/each}}
                  {{else}}
                  <p>No items found </p>
                  <hr class="my-4">

                  {{/if}}
                  <h5 class="text-danger text-center" id="serverMessage">{{message}}</h5>
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/user" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{cart.length}}</h5>
                    <h5 id="totalBill" value="">₹ {{cartBill}}</h5>
                  </div>
                  <h5 class="text-uppercase mb-3">Shipping</h5>
                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Delivery- Free</option>
                    </select>
                  </div>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="totalBills" value="">₹ {{cartBill}} </h5>
                    <input type="hidden" id="totalPrice">
                  </div>

                  {{!-- {{#if (cart.length < 1)}} <button type="button" disabled
                    class="btn btn-secondary btn-block btn-lg" data-mdb-ripple-color="dark">Proceed to Checkout</button>
                    {{else}} --}}
                    <a href="/cart/checkout"><button type="button" class="btn btn-dark btn-block btn-lg" style="border-radius: 20px;"
                        data-mdb-ripple-color="dark">Proceed to Checkout</button></a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{>foot}}


{{!--
<script>
  function stepondown() {
    var x = document.getElementById("form1").value;
    if (x > 1) {
      document.getElementById("form1").value = x - 1;
    }
  }

  function steponup() {
    var x = document.getElementById("form1").value;
    if (x < 5) {
      document.getElementById("form1").value = parseInt(x) + 1;
    }
  }
</script> --}}
<script>
  window.onload = function () {
    var msg = document.getElementById("serverMessage");
    var limitMessage = document.getElementById("limitMessage")
    if (msg.innerHTML !== "") {
      setTimeout(function () {
        msg.style.display = "none";
      }, 2000); // 3000 milliseconds = 3 seconds
    }
  };
</script>