{{>head}}
{{#if userData}}
{{>userNavLogged}}
{{else}}
{{>userNav}}
{{/if}}

<link rel="stylesheet" href="/style.css">
<section class="h-100 h-custom" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px; border: 1px solid black;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>

                    <h6 class="mb-0 text-muted">{{products.length}} items</h6>
                  </div>
                  <hr class="my-4">
{{!-- {{#if cart.length===0}}
 <p>No items found </p>
                  <hr class="my-4">
                  {{else}} 
                   --}}
                 
                
{{#each products}}

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="/images/{{img1}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{category}}</h6>
                      <a href="/user-home/product?id=<%= cart.items[i].itemId %> " style="text-decoration: none">
                        <h6 class="text-black mb-0">{{productName}}</h6>
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <form action="/addToCart/cart-operation?id=<%= cart.items[i].itemId %>&sub=true" method="post">
                        <button class="btn btn-link px-2" type="submit" onclick="">
                          <i class="fas fa-minus"></i>
                        </button>
                      </form>
                      <input id="form1" min="1" max="5" name="quantity" value="{{quantity}}"
                        type="text" class="form-control form-control-sm" />
                      <form action="/addToCart/cart-operation?id=<%= cart.items[i].itemId %>&add=true" method="post">
                        <button class="btn btn-link px-2" type="submit" onclick="">
                          <i class="fas fa-plus"></i>
                        </button>
                      </form>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0 itemPrice" id="price" value="">₹ {{price}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <form action="/delete-from-cart?id={{_id}}" method="post">
                        <button type="submit" class="text-muted"
                          style="cursor: pointer; background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"><i
                            class="fas fa-times"></i></button>
                      </form>
                    </div>
                  </div>
                  <hr class="my-4">
    
             {{/each}}
{{!-- {{/if}} --}}
<h5 class="text-danger text-center">{{message}}</h5>
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/user-home" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{products.length}} </h5>
                    <h5>₹ {{cartBill}} </h5>
                  </div>
                  <h5 class="text-uppercase mb-3">Shipping</h5>
                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Delivery- Free</option>
                    </select>
                  </div>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>₹ <%= cart.bill %> </h5>
                  </div>

                  {{!-- {{#if (cart.length < 1)}}
                  <button type="button" disabled class="btn btn-secondary btn-block btn-lg"
                    data-mdb-ripple-color="dark">Proceed to Checkout</button>
                  {{else}} --}}
                  <a href="/cart/checkout"><button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Proceed to Checkout</button></a>
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{>foot}}