{{>head}}

{{#if userData}}
{{>userNavLogged}}
{{else}}
{{>userNav}}
{{/if}}

<!-- end hero area -->

<!-- shop section -->

<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Latest {{categoryName}} Products
      </h2>
    </div>
    <div class="row">

{{#if products}}


      {{#each products}}
      <div class="col-sm-6 col-md-4 col-lg-3">

        <div class="box shadow-lg" style="background-color:{{bgColor}}">
           <a> <button onclick="wishlistClick('{{_id}}')" class="btn position-absolute start-75 end-0 bg-light rounded-circle mt-1 me-1 shadow" style="color:brown">
                 <i class="fa-solid fa-heart" area-hidden="true"></i>
                 </button>
              </a>
          <a href="/productView?id={{_id}}">
            <div class="img-box">
              <img src="/images/{{img1}}" alt="">
              
            </div>
              {{#ifnoteq __v 0}}
            <div class="new">
              <span>
                new
              </span>
            </div>
            {{/ifnoteq}}
          </a>
        </div>
        <div class="mt-2 detail-box">
          <h6>
            {{productName}}
          </h6>
          <h6>
            Price
            <span>
              ₹{{price}}
            </span>
          </h6>
          <div class="btn-box">
            <a href="/productView?id={{_id}}" class="btn shadow-sm">
              Explore
            </a> 
          </div>
        </div>
      </div>

      {{/each}}
 {{else}}
  <h4 class="text-center text-danger">No Products Found</h4>
{{/if}}
    </div>
   
  </div>
</section>
<script>
  function wishlistClick(data) {
    const id = data;
    fetch("/wishlist/add", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        id: id
      })
    })
      .then(response => {
        return response.json();
      })
      .then(data => {
        if (data == "not logged in") {
          window.location.href = "/login";
        } else {
          location.reload();
        }
      })
      .catch(error => {
        console.log(error);
      });
  }

</script>
<!-- end shop section -->
{{>footer}}
{{>foot}}